.App {
  background-color: #1E555C;
}
body {
  background: #1E555C;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Righteous';
}

.container {
  width: 500px;
  height: 350px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

.title {
  flex: 1;
  color: white;
  margin-bottom: 10px;
  font-size: 50px;;
}

.settingsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

.appSetting {
  padding: 10px;
  text-align: center;
  flex: 1;
}

.settingTitle {
  color: white;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size:  30px;
}

.settingValue {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-top: 6px;
  margin-left: 4px;
  margin-right: 4px;
}

button {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 2px;
}

.displayTimer {
  border-radius:10px;
  border: 7px solid #13353a;
  text-align: center;
  margin: auto;
  max-width: 200px;
  padding: 4px;
}

#time-left {
  font-size: 48px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 0;
}

#timer-label {
  margin-top: 4px;
  margin-bottom: 0;
}

.timerControls {
  margin-top:10px;
  margin-bottom: 10px;
}

.timerControls button {
  width: 100px;
  font-size: 16px;
  font-weight: 700;
}